desktop/export/src/main/resources/xsd/money.xsd

<!--
  Copyright © 2017-2024 Petr Panteleyev <petr-panteleyev@yandex.ru>
  SPDX-License-Identifier: BSD-2-Clause
  -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            Money Database export file schema.
            Copyright (C) 2017-2024 Petr Panteleyev
        </xsd:documentation>
    </xsd:annotation>

    <xsd:element name="Money">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Icons">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Icon"
                                         type="Icon"
                                         minOccurs="0"
                                         maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                    <xsd:unique name="IconUniqueUUID">
                        <xsd:selector xpath="Icon"/>
                        <xsd:field xpath="./uuid"/>
                    </xsd:unique>
                </xsd:element>
                <xsd:element name="Categories">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Category"
                                         type="Category"
                                         minOccurs="0"
                                         maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                    <xsd:unique name="CategoryUniqueUUID">
                        <xsd:selector xpath="Category"/>
                        <xsd:field xpath="./uuid"/>
                    </xsd:unique>
                </xsd:element>
                <xsd:element name="Currencies">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Currency"
                                         type="Currency"
                                         minOccurs="0"
                                         maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                    <xsd:unique name="CurrencyUniqueUUID">
                        <xsd:selector xpath="Currency"/>
                        <xsd:field xpath="./uuid"/>
                    </xsd:unique>
                </xsd:element>
                <xsd:element name="ExchangeSecurities" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="ExchangeSecurity"
                                         type="ExchangeSecurity"
                                         minOccurs="0"
                                         maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                    <xsd:unique name="ExchangeSecurityUniqueUUID">
                        <xsd:selector xpath="ExchangeSecurity"/>
                        <xsd:field xpath="./uuid"/>
                    </xsd:unique>
                </xsd:element>
                <xsd:element name="Accounts">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Account"
                                         type="Account"
                                         minOccurs="0"
                                         maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                    <xsd:unique name="AccountUniqueUUID">
                        <xsd:selector xpath="Account"/>
                        <xsd:field xpath="./uuid"/>
                    </xsd:unique>
                </xsd:element>
                <xsd:element name="Cards" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Card"
                                         type="Card"
                                         minOccurs="0"
                                         maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                    <xsd:unique name="CardUniqueUUID">
                        <xsd:selector xpath="Card"/>
                        <xsd:field xpath="./uuid"/>
                    </xsd:unique>
                </xsd:element>
                <xsd:element name="Contacts">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Contact"
                                         type="Contact"
                                         minOccurs="0"
                                         maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                    <xsd:unique name="ContactUniqueUUID">
                        <xsd:selector xpath="Contact"/>
                        <xsd:field xpath="./uuid"/>
                    </xsd:unique>
                </xsd:element>
                <xsd:element name="Transactions">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Transaction"
                                         type="Transaction"
                                         minOccurs="0"
                                         maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                    <xsd:unique name="TransactionUniqueUUID">
                        <xsd:selector xpath="Transaction"/>
                        <xsd:field xpath="./uuid"/>
                    </xsd:unique>
                </xsd:element>
                <xsd:element name="MoneyDocuments">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="MoneyDocument"
                                         type="MoneyDocument"
                                         minOccurs="0"
                                         maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                    <xsd:unique name="MoneyDocumentUniqueUUID">
                        <xsd:selector xpath="MoneyDocument"/>
                        <xsd:field xpath="./uuid"/>
                    </xsd:unique>
                </xsd:element>
                <xsd:element name="PeriodicPayments" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="PeriodicPayment"
                                         type="PeriodicPayment"
                                         minOccurs="0"
                                         maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                    <xsd:unique name="PeriodicPaymentUniqueUUID">
                        <xsd:selector xpath="PeriodicPayment"/>
                        <xsd:field xpath="./uuid"/>
                    </xsd:unique>
                </xsd:element>
                <xsd:element name="InvestmentDeals" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="InvestmentDeal"
                                         type="InvestmentDeal"
                                         minOccurs="0"
                                         maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                    <xsd:unique name="InvestmentDealUniqueUUID">
                        <xsd:selector xpath="InvestmentDeal"/>
                        <xsd:field xpath="./uuid"/>
                    </xsd:unique>
                </xsd:element>
                <xsd:element name="ExchangeSecuritySplits" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="ExchangeSecuritySplit"
                                         type="ExchangeSecuritySplit"
                                         minOccurs="0"
                                         maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                    <xsd:unique name="ExchangeSecuritySplitUUID">
                        <xsd:selector xpath="ExchangeSecuritySplit"/>
                        <xsd:field xpath="./uuid"/>
                    </xsd:unique>
                </xsd:element>
                <xsd:element name="Blobs" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="BlobContent"
                                         type="BlobContent"
                                         minOccurs="0"
                                         maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                    <xsd:unique name="BlobUUID">
                        <xsd:selector xpath="Blob"/>
                        <xsd:field xpath="./uuid"/>
                    </xsd:unique>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="Icon">
        <xsd:attribute name="uuid" type="UUID"/>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="bytes" type="xsd:string"/>
        <xsd:attribute name="created" type="Timestamp"/>
        <xsd:attribute name="modified" type="Timestamp"/>
    </xsd:complexType>

    <xsd:complexType name="Account">
        <xsd:attribute name="uuid" type="UUID"/>
        <xsd:attribute name="accountLimit" type="xsd:decimal"/>
        <xsd:attribute name="categoryUuid" type="UUID"/>
        <xsd:attribute name="comment" type="xsd:string"/>
        <xsd:attribute name="accountNumber" type="xsd:string"/>
        <xsd:attribute name="currencyUuid" type="UUID"/>
        <xsd:attribute name="securityUuid" type="UUID"/>
        <xsd:attribute name="currencyRate" type="xsd:decimal"/>
        <xsd:attribute name="enabled" type="xsd:boolean"/>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="openingBalance" type="xsd:decimal"/>
        <xsd:attribute name="type" type="CategoryType"/>
        <xsd:attribute name="interest" type="xsd:decimal"/>
        <xsd:attribute name="closingDate" type="LocalDate"/>
        <xsd:attribute name="iconUuid" type="UUID"/>
        <xsd:attribute name="cardType" type="CardType"/>
        <xsd:attribute name="cardNumber" type="xsd:string"/>
        <xsd:attribute name="total" type="xsd:decimal"/>
        <xsd:attribute name="totalWaiting" type="xsd:decimal"/>
        <xsd:attribute name="created" type="Timestamp"/>
        <xsd:attribute name="modified" type="Timestamp"/>
    </xsd:complexType>

    <xsd:complexType name="Category">
        <xsd:attribute name="uuid" type="UUID"/>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="type" type="CategoryType"/>
        <xsd:attribute name="comment" type="xsd:string"/>
        <xsd:attribute name="iconUuid" type="UUID"/>
        <xsd:attribute name="created" type="Timestamp"/>
        <xsd:attribute name="modified" type="Timestamp"/>
    </xsd:complexType>

    <xsd:complexType name="Contact">
        <xsd:attribute name="uuid" type="UUID"/>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="comment" type="xsd:string"/>
        <xsd:attribute name="type" type="ContactType"/>
        <xsd:attribute name="email" type="xsd:string"/>
        <xsd:attribute name="web" type="xsd:string"/>
        <xsd:attribute name="mobile" type="xsd:string"/>
        <xsd:attribute name="phone" type="xsd:string"/>
        <xsd:attribute name="street" type="xsd:string"/>
        <xsd:attribute name="city" type="xsd:string"/>
        <xsd:attribute name="country" type="xsd:string"/>
        <xsd:attribute name="zip" type="xsd:string"/>
        <xsd:attribute name="iconUuid" type="UUID"/>
        <xsd:attribute name="created" type="Timestamp"/>
        <xsd:attribute name="modified" type="Timestamp"/>
    </xsd:complexType>

    <xsd:complexType name="Currency">
        <xsd:attribute name="uuid" type="UUID"/>
        <xsd:attribute name="def" type="xsd:boolean"/>
        <xsd:attribute name="description" type="xsd:string"/>
        <xsd:attribute name="direction" type="Switch"/>
        <xsd:attribute name="formatSymbol" type="xsd:string"/>
        <xsd:attribute name="formatSymbolPosition" type="Switch"/>
        <xsd:attribute name="rate" type="xsd:decimal"/>
        <xsd:attribute name="showFormatSymbol" type="xsd:boolean"/>
        <xsd:attribute name="symbol" type="xsd:string"/>
        <xsd:attribute name="useThousandSeparator" type="xsd:boolean"/>
        <xsd:attribute name="type" type="CurrencyType"/>
        <xsd:attribute name="isin" type="xsd:string"/>
        <xsd:attribute name="registry" type="xsd:string"/>
        <xsd:attribute name="created" type="Timestamp"/>
        <xsd:attribute name="modified" type="Timestamp"/>
    </xsd:complexType>

    <xsd:complexType name="ExchangeSecurity">
        <xsd:attribute name="uuid" type="UUID"/>
        <xsd:attribute name="secId" type="xsd:string"/>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="shortName" type="xsd:string"/>
        <xsd:attribute name="isin" type="xsd:string"/>
        <xsd:attribute name="regNumber" type="xsd:string"/>
        <xsd:attribute name="faceValue" type="xsd:decimal"/>
        <xsd:attribute name="issueDate" type="LocalDate"/>
        <xsd:attribute name="matDate" type="LocalDate"/>
        <xsd:attribute name="daysToRedemption" type="xsd:int"/>
        <xsd:attribute name="group" type="xsd:string"/>
        <xsd:attribute name="groupName" type="xsd:string"/>
        <xsd:attribute name="type" type="xsd:string"/>
        <xsd:attribute name="typeName" type="xsd:string"/>
        <xsd:attribute name="marketValue" type="xsd:decimal"/>
        <xsd:attribute name="couponValue" type="xsd:decimal"/>
        <xsd:attribute name="couponPercent" type="xsd:decimal"/>
        <xsd:attribute name="couponDate" type="LocalDate"/>
        <xsd:attribute name="couponFrequency" type="xsd:int"/>
        <xsd:attribute name="accruedInterest" type="xsd:decimal"/>
        <xsd:attribute name="couponPeriod" type="xsd:int"/>
        <xsd:attribute name="created" type="Timestamp"/>
        <xsd:attribute name="modified" type="Timestamp"/>
    </xsd:complexType>

    <xsd:complexType name="Transaction">
        <xsd:attribute name="uuid" type="UUID"/>
        <xsd:attribute name="accountCreditedCategoryUuid" type="UUID"/>
        <xsd:attribute name="accountCreditedUuid" type="UUID"/>
        <xsd:attribute name="accountCreditedType" type="CategoryType"/>
        <xsd:attribute name="accountDebitedCategoryUuid" type="UUID"/>
        <xsd:attribute name="accountDebitedUuid" type="UUID"/>
        <xsd:attribute name="accountDebitedType" type="CategoryType"/>
        <xsd:attribute name="amount" type="xsd:decimal"/>
        <xsd:attribute name="creditAmount" type="xsd:decimal"/>
        <xsd:attribute name="checked" type="xsd:boolean"/>
        <xsd:attribute name="comment" type="xsd:string"/>
        <xsd:attribute name="contactUuid" type="UUID"/>
        <xsd:attribute name="transactionDate" type="LocalDate"/>
        <xsd:attribute name="day" type="Day"/>
        <xsd:attribute name="invoiceNumber" type="xsd:string"/>
        <xsd:attribute name="month" type="Month"/>
        <xsd:attribute name="rate" type="xsd:decimal"/>
        <xsd:attribute name="rateDirection" type="Switch"/>
        <xsd:attribute name="type" type="TransactionType"/>
        <xsd:attribute name="year" type="Year"/>
        <xsd:attribute name="created" type="Timestamp"/>
        <xsd:attribute name="modified" type="Timestamp"/>
        <xsd:attribute name="parentUuid" type="UUID"/>
        <xsd:attribute name="detailed" type="xsd:boolean"/>
        <xsd:attribute name="statementDate" type="LocalDate"/>
        <xsd:attribute name="cardUuid" type="UUID"/>
    </xsd:complexType>

    <xsd:complexType name="MoneyDocument">
        <xsd:attribute name="uuid" type="UUID"/>
        <xsd:attribute name="ownerUuid" type="UUID"/>
        <xsd:attribute name="contactUuid" type="UUID"/>
        <xsd:attribute name="documentType" type="DocumentType"/>
        <xsd:attribute name="fileName" type="xsd:string"/>
        <xsd:attribute name="date" type="LocalDate"/>
        <xsd:attribute name="size" type="xsd:int"/>
        <xsd:attribute name="mimeType" type="xsd:string"/>
        <xsd:attribute name="description" type="xsd:string"/>
        <xsd:attribute name="created" type="Timestamp"/>
        <xsd:attribute name="modified" type="Timestamp"/>
    </xsd:complexType>

    <xsd:complexType name="PeriodicPayment">
        <xsd:attribute name="uuid" type="UUID"/>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="paymentType" type="PeriodicPaymentType"/>
        <xsd:attribute name="recurrenceType" type="RecurrenceType"/>
        <xsd:attribute name="amount" type="xsd:decimal"/>
        <xsd:attribute name="dayOfMonth" type="xsd:int"/>
        <xsd:attribute name="month" type="MonthName"/>
        <xsd:attribute name="accountDebitedUuid" type="UUID"/>
        <xsd:attribute name="accountCreditedUuid" type="UUID"/>
        <xsd:attribute name="contactUuid" type="UUID"/>
        <xsd:attribute name="comment" type="xsd:string"/>
        <xsd:attribute name="created" type="Timestamp"/>
        <xsd:attribute name="modified" type="Timestamp"/>
    </xsd:complexType>

    <xsd:complexType name="Card">
        <xsd:attribute name="uuid" type="UUID"/>
        <xsd:attribute name="accountUuid" type="UUID"/>
        <xsd:attribute name="type" type="CardType"/>
        <xsd:attribute name="number" type="xsd:string"/>
        <xsd:attribute name="expiration" type="LocalDate"/>
        <xsd:attribute name="comment" type="xsd:string"/>
        <xsd:attribute name="enabled" type="xsd:boolean"/>
        <xsd:attribute name="created" type="Timestamp"/>
        <xsd:attribute name="modified" type="Timestamp"/>
    </xsd:complexType>

    <xsd:complexType name="InvestmentDeal">
        <xsd:attribute name="uuid" type="UUID"/>
        <xsd:attribute name="accountUuid" type="UUID"/>
        <xsd:attribute name="securityUuid" type="UUID"/>
        <xsd:attribute name="currencyUuid" type="UUID"/>
        <xsd:attribute name="dealNumber" type="xsd:string"/>
        <xsd:attribute name="dealDate" type="LocalDateTime"/>
        <xsd:attribute name="accountingDate" type="LocalDateTime"/>
        <xsd:attribute name="marketType" type="InvestmentMarketType"/>
        <xsd:attribute name="operationType" type="InvestmentOperationType"/>
        <xsd:attribute name="securityAmount" type="xsd:int"/>
        <xsd:attribute name="price" type="xsd:decimal"/>
        <xsd:attribute name="aci" type="xsd:decimal"/>
        <xsd:attribute name="dealVolume" type="xsd:decimal"/>
        <xsd:attribute name="rate" type="xsd:decimal"/>
        <xsd:attribute name="exchangeFee" type="xsd:decimal"/>
        <xsd:attribute name="brokerFee" type="xsd:decimal"/>
        <xsd:attribute name="amount" type="xsd:decimal"/>
        <xsd:attribute name="dealType" type="InvestmentDealType"/>
        <xsd:attribute name="created" type="Timestamp"/>
        <xsd:attribute name="modified" type="Timestamp"/>
    </xsd:complexType>

    <xsd:complexType name="ExchangeSecuritySplit">
        <xsd:attribute name="uuid" type="UUID"/>
        <xsd:attribute name="securityUuid" type="UUID"/>
        <xsd:attribute name="type" type="ExchangeSecuritySplitType"/>
        <xsd:attribute name="date" type="LocalDate"/>
        <xsd:attribute name="rate" type="xsd:decimal"/>
        <xsd:attribute name="comment" type="xsd:string"/>
        <xsd:attribute name="created" type="Timestamp"/>
        <xsd:attribute name="modified" type="Timestamp"/>
    </xsd:complexType>

    <xsd:complexType name="BlobContent">
        <xsd:attribute name="uuid" type="UUID"/>
        <xsd:attribute name="type" type="BlobType"/>
        <xsd:attribute name="bytes" type="xsd:string"/>
    </xsd:complexType>

    <xsd:simpleType name="UUID">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="LocalDate">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="LocalDateTime">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="Switch">
        <xsd:restriction base="xsd:int">
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="Day">
        <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="31"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="Month">
        <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="12"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="Year">
        <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="3000"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="CategoryType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="BANKS_AND_CASH"/>
            <xsd:enumeration value="INCOMES"/>
            <xsd:enumeration value="EXPENSES"/>
            <xsd:enumeration value="DEBTS"/>
            <xsd:enumeration value="PORTFOLIO"/>
            <xsd:enumeration value="ASSETS"/>
            <xsd:enumeration value="STARTUP"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ContactType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="PERSONAL"/>
            <xsd:enumeration value="CLIENT"/>
            <xsd:enumeration value="SUPPLIER"/>
            <xsd:enumeration value="EMPLOYEE"/>
            <xsd:enumeration value="EMPLOYER"/>
            <xsd:enumeration value="SERVICE"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="TransactionType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="CARD_PAYMENT"/>
            <xsd:enumeration value="SBP_PAYMENT"/>
            <xsd:enumeration value="CASH_PURCHASE"/>
            <xsd:enumeration value="CHEQUE"/>
            <xsd:enumeration value="WITHDRAWAL"/>
            <xsd:enumeration value="CACHIER"/>
            <xsd:enumeration value="DEPOSIT"/>
            <xsd:enumeration value="TRANSFER"/>
            <xsd:enumeration value="SBP_TRANSFER"/>
            <xsd:enumeration value="INTEREST"/>
            <xsd:enumeration value="DIVIDEND"/>
            <xsd:enumeration value="COUPON"/>
            <xsd:enumeration value="DIRECT_BILLING"/>
            <xsd:enumeration value="CHARGE"/>
            <xsd:enumeration value="FEE"/>
            <xsd:enumeration value="INCOME"/>
            <xsd:enumeration value="PURCHASE"/>
            <xsd:enumeration value="SALE"/>
            <xsd:enumeration value="REFUND"/>
            <xsd:enumeration value="UNDEFINED"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="DocumentType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="BILL"/>
            <xsd:enumeration value="RECEIPT"/>
            <xsd:enumeration value="CONTRACT"/>
            <xsd:enumeration value="STATEMENT"/>
            <xsd:enumeration value="REPORT"/>
            <xsd:enumeration value="NOTIFICATION"/>
            <xsd:enumeration value="INVOICE"/>
            <xsd:enumeration value="PAYSLIP"/>
            <xsd:enumeration value="OTHER"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="PeriodicPaymentType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="MANUAL_PAYMENT"/>
            <xsd:enumeration value="AUTO_PAYMENT"/>
            <xsd:enumeration value="CARD_PAYMENT"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="CurrencyType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="CURRENCY"/>
            <xsd:enumeration value="SECURITY"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="RecurrenceType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="MONTHLY"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="CardType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="NONE"/>
            <xsd:enumeration value="VISA"/>
            <xsd:enumeration value="MASTERCARD"/>
            <xsd:enumeration value="MIR"/>
            <xsd:enumeration value="AMEX"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="InvestmentOperationType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="UNKNOWN"/>
            <xsd:enumeration value="PURCHASE"/>
            <xsd:enumeration value="SELL"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="InvestmentMarketType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="UNKNOWN"/>
            <xsd:enumeration value="STOCK_MARKET"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="InvestmentDealType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="UNKNOWN"/>
            <xsd:enumeration value="NORMAL"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="MonthName">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="JANUARY"/>
            <xsd:enumeration value="FEBRUARY"/>
            <xsd:enumeration value="MARCH"/>
            <xsd:enumeration value="APRIL"/>
            <xsd:enumeration value="MAY"/>
            <xsd:enumeration value="JUNE"/>
            <xsd:enumeration value="JULY"/>
            <xsd:enumeration value="AUGUST"/>
            <xsd:enumeration value="SEPTEMBER"/>
            <xsd:enumeration value="OCTOBER"/>
            <xsd:enumeration value="NOVEMBER"/>
            <xsd:enumeration value="DECEMBER"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ExchangeSecuritySplitType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SPLIT"/>
            <xsd:enumeration value="REVERSE_SPLIT"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="BlobType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="DOCUMENT"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="Timestamp">
        <xsd:restriction base="xsd:long">
            <xsd:minInclusive value="0"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
